doctype html
html(lang='en')
	head
		meta(charset = 'utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		title= title
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js')

		//- Angular service provider, binds controllers and templates to page
		script(src='/javascript/app.js')
		//- script(src='/javascript/controller.js')
	body
		nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
			div.center.container
				div.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
						span.sr-only
							Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand.btn-group.big(href='/')= title
				ul.nav.navbar-nav.navbar-right
					li
						a.btn-group(href='#/problem')
							| Jobs
					li
						a.btn-group(href='#/profile')
							| Profile
					li
						a.btn-group(href='/logout')
							| Logout
		div.container
			div(ng-view)