doctype html
html(lang='en')
	head
		meta(charset = 'utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		title= title
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/login.css')

	body
		div.box.contain
			div.login-box
				form(action='/login',method='post')
					div.input-group.input-box
						input.form-control(type='text', name="username", placeholder='Email Address')
					div.input-group.input-box
						input.form-control(type='password', name="password", placeholder='Password')
						span.input-group-btn
							button.btn.btn-default(type="submit")
								| Log in
					//input.btn.btn-default(type='submit',value='Login',data-transition='fade', data-theme='c')